

body {
  padding-top: 56px;
  background-color: #fafafa;
  background-size: 200px;
  background-repeat: round;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0.8) 0%,rgba(255,255,255,0.8) 100%),url("../images/background_pattern.png");
}

div.card-body a,
.text-pink {
  color: pink;
}

.add-border {
  border-bottom: 2px solid #888;
  border-left: 2px solid #888;
  border-radius: 2%;
  padding: 10px;
  background-color: transparent;
}

.text-grey {
  color: #888;
}

.btn-primary {
  background-color: pink;
  border: none;
}

.btn-primary:hover{
  background-color: lightpink;
  border: none;
}

.content {
  margin-top: 50px;
}

.navbar-custom {
  background-color: #888;
  box-shadow: 0px 2px 7px 1px #555;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: pink;
  font-size: 30px;
}

.navbar-custom .navbar-brand {
  /* font-family: 'Acme', sans-serif; */
  font-family: 'Emilys Candy', cursive;
  /* font-family: 'Fira Sans Extra Condensed', sans-serif; */
  /* font-family: 'Signika Negative', sans-serif; */
}

.footer-custom {
  background-color: #888;
  box-shadow: 0px -2px 7px 1px #555;
}

.footer-custom .footer-text {
  color: pink;

}

.navbar-custom .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,192,203)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-custom .navbar-toggler {
  border-color: pink;
}
